<div class="col-md-12">
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="row">
      <div class="col">
        <label for="menu-name">Menu Special Name</label>
        <input
          class="form-control"
          type="text"
          name="menuName"
          id="menu-name"
          placeholder="Menu Special Name"
          [(ngModel)]="obj.menuName"
          required
        />
      </div>

      <div class="col">
        <label for="menu-menus">Menu</label>
        <select
          name="menuMenus"
          id="menu-menus"
          class="form-control"
          [(ngModel)]="obj.menuMenus"
          required
        >
          <option value="" disabled selected>Menu</option>
          <option value="menu 1">Menu 1</option>
          <option value="menu 2">Menu 2</option>
          <option value="menu 3">Menu 3</option>
          <option value="menu 4">Menu 4</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="start-date">Start Date</label>
        <input
          type="text"
          onfocus="(this.type='date')"
          name="startDate"
          id="start-date"
          class="form-control"
          placeholder="Start Date"
          [(ngModel)]="obj.startDate"
          required
          min="2021-04-01"
          #startdate="ngModel"
        />
      </div>
      <div class="col">
        <label for="end-date">End Date</label>
        <input
          type="text"
          name="endDate"
          id="end-date"
          class="form-control"
          (blur)="dateValidation()"
          onfocus="(this.type='date')"
          placeholder="End Date"
          [(ngModel)]="obj.endDate"
          required
          min="2021-04-01"
        />
        <div *ngIf="error.isError" class="alert alert-danger">
          {{ error.errorMessage }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="start-time">Start Time</label>
        <input
          name="startTime"
          class="form-control"
          placeholder=" Start Time"
          [(ngModel)]="obj.startTime"
          [owlDateTimeTrigger]="dt1"
          [owlDateTime]="dt1"
          required
          #starttime="ngModel"
        />
        <owl-date-time [pickerType]="'timer'" #dt1></owl-date-time>
      </div>

      <div class="col">
        <label for="end-time">End Time</label>
        <input
          name="endTime"
          class="form-control"
          placeholder=" End Time"
          [(ngModel)]="obj.endTime"
          [owlDateTimeTrigger]="dt2"
          [owlDateTime]="dt2"
          required
        />
        <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
        <div
          *ngIf="error.isError && starttime.touched && starttime.invalid"
          class="alert alert-danger"
        >
          <p>Please select valid date</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7">
        <div
          style="display: flex; justify-content: space-around; margin-top: 20px"
        >
          <button
            [ngClass]="{ 'btn-success': days[7] }"
            type="button"
            class="btn rounded-pill"
          >
            EveryDay
          </button>
          <button
            type="button"
            class="btn rounded-pill"
            [ngClass]="{ 'btn-success': planet.get('Mon') }"
          >
            Mon
          </button>
          <button
            type="button"
            class="btn rounded-pill"
            [ngClass]="{ 'btn-success': days[2] }"
          >
            Tue
          </button>
          <button
            type="button"
            class="btn rounded-pill"
            [ngClass]="{ 'btn-success': days[3] }"
          >
            Wed
          </button>
          <button
            type="button"
            class="btn rounded-pill"
            [ngClass]="{ 'btn-success': days[4] }"
          >
            Thu
          </button>
          <button
            type="button"
            class="btn rounded-pill"
            [ngClass]="{ 'btn-success': days[5] }"
          >
            Fri
          </button>
          <button
            type="button"
            class="btn rounded-pill"
            [ngClass]="{ 'btn-success': days[6] }"
          >
            Sat
          </button>
          <button
            type="button"
            class="btn rounded-pill"
            [ngClass]="{ 'btn-success': days[0] }"
          >
            Sun
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div class="createCancleButton">
          <button
            class="btn btn-danger rounded-pill"
            type="submit"
            style="margin-right: 10px"
          >
            {{ isUpdateMode ? "Update" : "Create" }}
          </button>

          <button class="btn btn-primary rounded-pill" type="reset">
            Cancle
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
