<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-bar" style="background-color: aliceblue">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLink]="['smartmenu/menu-list']"
            >Menu Special</a
          >
        </li>
        <li class="nav-item">
          <div *ngIf="!isUpdateMode">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['smartmenu/menu-item']"
            >
              New Menu Special</a
            >
          </div>
          <div *ngIf="isUpdateMode">
            <a
              class="nav-link"
              routerLinkActive="active"
              [routerLink]="['smartmenu/menu-item']"
            >
              Update Menu Item</a
            >
          </div>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
