<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-light bg-light justify-content-between">
      <div>
        <fa-icon
          class="fa-lg"
          [icon]="faFilePdf"
          style="margin-right: 15px"
        ></fa-icon>
        <fa-icon class="fa-lg" [icon]="faFileExcel"></fa-icon>
      </div>
      <form class="form-inline">
        <div class="example-header">
          <mat-form-field>
            <input
              matInput
              (keyup)="applyFilter($event.target.value)"
              placeholder="Search "
            />
          </mat-form-field>
        </div>
      </form>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <!--  -->

    <div class="example-container mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>
        <!-- menuName Column -->
        <ng-container matColumnDef="menuName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Special Mennu Name
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a [routerLink]="['menu-details', row.menuItemId]">{{
              row.menuName
            }}</a>
          </mat-cell>
        </ng-container>

        <!-- Start Date Column -->
        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Start Date
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.startDate | date: "MM/dd/yyyy" }}
            {{ row.startTime }}</mat-cell
          >
        </ng-container>

        <!-- endDate Column -->
        <ng-container matColumnDef="endDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            End Date
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.endDate | date: "MM/dd/yyyy" }} {{ row.endTime }}</mat-cell
          >
        </ng-container>

        <!-- frequency Column -->
        <ng-container matColumnDef="frequency">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Frequency
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.frequency }}
          </mat-cell>
        </ng-container>

        <!-- created By Column -->
        <ng-container matColumnDef="createdBy">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Created By
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.createdBy }}
          </mat-cell>
        </ng-container>

        <!-- Created on Column -->
        <ng-container matColumnDef="createdOn">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Created On
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.createdOn | date: "MM/dd/yyyy" }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <span>
              <fa-icon id="edit" [icon]="faEdit"></fa-icon>
              <fa-icon
                id="trash"
                [icon]="faTrash"
                (click)="onDeleteMenu(row.menuItemId)"
              ></fa-icon>
            </span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

    <!--  -->
  </div>
</div>

<router-outlet></router-outlet>
